@font-face {
     font-family: PatuaOne;
     src: url('fonts/PatuaOne.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/bg-1.png),url(img/bg-3.png);
    background-position: left, right top;
    background-repeat: no-repeat, no-repeat;
	background-color: #fbe6d4;
	background-attachment: fixed, fixed;
}

.content {
    margin: 6% auto;
    width: 54%;
    background: #fff6ef;
    padding: 6%;
	/* sombras */
	-webkit-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	-moz-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	/* fim da sombra */
}


.header-image {
	overflow: hidden;
    float: left;
    border-radius: 100%;
    margin-right: 30px;
    height: 158px;
    width: 158px;
}

.header-image img {
    width: 158px;
    object-fit: cover;
    height: 158px;
}
.header-description {
    text-align: right;
}

.custom-button{
    text-align: -webkit-right;
    margin: 40px 0 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bfae92;
    font-family: PatuaOne;
    padding: 7px 13px;
    text-transform: uppercase;
    border: solid #fbe6d4 1px;
    font-size: 16px;
    color: white;
    outline-color: #5f5643;
}

.fa-camera {
    width: 30px !important;
    margin-right: 15px !important;
    padding: 0 !important;
}

.header-description h2 {
    font-family: PatuaOne;
    margin: 0;
    font-size: 35px;
    color: #5f5643;
}

h2 {
    font-family: PatuaOne;
    font-size: 30px;
    color: #5f5643;
}

.pet-form h2 {
    font-family: PatuaOne;
    font-size: 30px;
    color: #5f5643;
	margin-bottom: 21px;
}

label {
    font-size: 20px;
    font-family: PatuaOne;
    color: #5f5643;
}

form[name="form-cadastro"] button {
    margin: 30px auto 0;
}

form p, .contato-form p {
	text-align: justify;
	margin-bottom: 20px;
    font-family: PatuaOne;
    font-size: 12px;
    color: #5f5643;
}

.petDescricao {
	margin-top: 15px;
    margin-bottom: 34px;
	width: 100%;
}

.petNome {
    width: 70%;
}

.petIdade {
    width: 30%;
}

.petCategoria {
    width: 50%;
}

.petRaca {
    width: 50%;
}

.petTamanho {
    width: 50%;
}

.petPeso {
    width: 50%;
}

.petTamanho select {
     width: calc(100% - 115.88px);
}

.petPeso input {
    width: calc(100% - 51px);
}

.petCategoria select {
    width: calc(100% - 117.48px);
}

.petRaca input {
    width: calc(100% - 51.67px);
}

.petIdade input {
    width: calc(100% - 57.89px);
}

.petNome input {
    width: calc(100% - 82.39px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: #b9ac92 solid 1px;
  -webkit-text-fill-color: #5f5643;
  -webkit-box-shadow: 0 0 0px 1000px #edd3be inset;
  transition: background-color 5000s ease-in-out 0s;
}

#input-pet-descricao {
    width: calc(100% - 98.11px) !important;
    height: 70px;
    margin: 0;
}

.petDescricao label {
    float: left;
	padding-right: 9px;
}
.campo {
	margin-top: 15px;
	margin-bottom: 15px;
}

.pet-form input, .contato-form input, select, textarea {
    background: #fbe6d4;
    padding: 9px;
    border: #b9ac92 solid 1px;
    font-size: 15px;
    outline-color: #5f5643;
    color: #5f5643;
    font-family: PatuaOne;
    outline-width: 1px;
    margin: 0;
}

::placeholder {
	font-family: PatuaOne;
	text-transform: uppercase;
	color: #c8bba1;
}



.pet-form, .contato-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 740px) {
	.pet-form, .contato-form {
		display: block;
	}
	
	.campo {
		width: 100% !important;
	}
	
	.contato-form input, .pet-form input, .pet-form select  {
		width: 100% !important;
		margin: 12px 0 !important;
	}	
		
}

.contatoNome {
    width: 60%;
}

.contatoTelefone {
	width: 40%;
}
.contatoEmail {
    width: 100%;
}

.contatoEmail input {
     width: calc(100% - 59.56px);
}



.contatoTelefone input {
    width: calc(100% - 85.73px);
}
.contatoNome input {
    width: calc(100% - 107.67px);
}



.header-description p {
    text-align: justify;
    margin-top: 10px;
    font-family: PatuaOne;
    font-size: 12px;
	color: #5f5643;
}




footer{
    background-color: #ffcc86;
    padding: 20px 0px;
	color: #5f5643;
    text-align: center;
    font-family: PatuaOne;
    font-size: 15px;
}

.redes-sociais {
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais h3 {
    font-family: PatuaOne;
    font-size: 14px;
    padding-right: 10px;
    letter-spacing: 3px;
    color: #5f5643;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover  {
	background: #5f5643;
}

.fa {
    padding: 5px;
    font-size: 18px !important;
    border-radius: 100%;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
  background: #1b80e4;
  color: white;
}

.fa-twitter {
  background: #50abf1;
  color: white;
}

.fa-instagram {
	color: white;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

/* Style POPUP */
#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background: rgba(0,0,0, 0.6);
	
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#popup .janela button {
    position: relative;
    float: right;
    top: -35px;
    left: 35px;
	    padding: 0px;
    cursor: pointer;
}

#popup.hidden{
    visibility: hidden;
}

#popup.show{
    visibility: visible;
}

.check {
	width: 100%;
	text-align: center;
    margin: 0 auto;
}

.check .fa {
	font-size: 53px !important;
    background: #fbe6d4;
	color: #5f5643;
    width: auto;
    border: 11px solid #fff6ef;
    padding: 17px;
	margin-top: -92px;
}

.dados li {
    list-style: none;
	text-align: justify;
}

.dados label {
    font-size: 15px;
}
.dados {
    text-align: left;
}

.janela {
	text-align: center;
    margin: 0 auto;
    background: #fff6ef;
    width: 40%;
	    height: auto;
	padding: 40px;
}

.janela h2{
	text-transform: uppercase;
	font-size: 23px;
}


.info-contato {
    margin-top: 18px;
}

.img-pet {
	width: 40%;
	overflow: hidden;
    float: left;
    height: 40%;
	margin-right: 27px;
}

input#input-pet-coleira {
    box-sizing: content-box;
}

.img-pet img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.janela p {
    text-align: justify;
    margin-bottom: 16px;
    font-family: PatuaOne;
    font-size: 13px;
    color: #5f5643;
}









