@font-face {
     font-family: PatuaOne;
     src: url('fonts/PatuaOne.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/bg-1.png),url(img/bg-3.png);
    background-position: left, right top;
    background-repeat: no-repeat, no-repeat;
	background-color: #fbe6d4;
	background-attachment: fixed, fixed;
}

.content {
    margin: 6% auto;
    width: 54%;
    background: #fff6ef;
    padding: 6%;
	/* sombras */
	-webkit-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	-moz-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	/* fim da sombra */
}


.header-image {
	overflow: hidden;
    float: left;
    border-radius: 100%;
    margin-right: 30px;
    height: 158px;
    width: 158px;
}

.header-image img {
	max-height: 100%;
}

.header-description {
    text-align: right;
}

.custom-button{
    text-align: -webkit-right;
    margin: 40px 0 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bfae92;
    font-family: PatuaOne;
    padding: 7px 13px;
    text-transform: uppercase;
    border: solid #fbe6d4 1px;
    font-size: 16px;
    color: white;
    outline-color: #5f5643;
}

.fa-camera {
    width: 30px !important;
    margin-right: 15px !important;
    padding: 0 !important;
}

.header-description h2 {
    font-family: PatuaOne;
    margin: 0;
    font-size: 35px;
    color: #5f5643;
}

h2 {
    font-family: PatuaOne;
    font-size: 30px;
    color: #5f5643;
}

.pet-form h2 {
    font-family: PatuaOne;
    font-size: 30px;
    color: #5f5643;
}

.header-description p {
    text-align: justify;
    margin-top: 10px;
    font-family: PatuaOne;
    font-size: 12px;
	color: #5f5643;
}




footer{
    background-color: #ffcc86;
    padding: 20px 0px;
	color: #5f5643;
    text-align: center;
    font-family: PatuaOne;
    font-size: 15px;
}

.redes-sociais {
	display: inline-flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais h3 {
    font-family: PatuaOne;
    font-size: 14px;
    padding-right: 10px;
    letter-spacing: 3px;
    color: #5f5643;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover  {
	background: #5f5643;
}

.fa {
    padding: 5px;
    font-size: 18px !important;
    border-radius: 100%;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
  background: #1b80e4;
  color: white;
}

.fa-twitter {
  background: #50abf1;
  color: white;
}

.fa-instagram {
	color: white;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}












