@font-face {
     font-family: PatuaOne;
     src: url('fonts/PatuaOne.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/bg-1.png),url(img/bg-3.png);
    background-position: left, right top;
    background-repeat: no-repeat, no-repeat;
	background-color: #fbe6d4;
	background-attachment: fixed, fixed;
}

.content {
    margin: 6% auto;
    width: 54%;
    background: #fff6ef;
    padding: 6%;
	/* sombras */
	-webkit-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	-moz-box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	box-shadow: 0px 0px 25px -1px rgba(185,172,146,0.55);
	/* fim da sombra */
}


.header-image {
	overflow: hidden;
    float: left;
    border-radius: 100%;
    margin-right: 30px;
    height: 158px;
    width: 158px;
}

.header-image img {
	max-height: 100%;
}

.header-description {
    text-align: right;
}

.header-description h2 {
    font-family: PatuaOne;
    margin: 0;
    font-size: 35px;
    color: #5f5643;
}

.header-description p {
    text-align: justify;
    margin-top: 10px;
    font-family: PatuaOne;
    font-size: 12px;
	color: #5f5643;
}


footer{
    background-color: #ffcc86;
    padding: 20px 0px;
	color: #5f5643;
    text-align: center;
    font-family: PatuaOne;
    font-size: 15px;
}











